html
  head
    title Fucci Katze Chat Room
    meta(name='description', content='Live chat room using Socket.IO')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/css/chat.css')
  body
    .container
      header.header
        h1.logo Fucci Katze
        nav.navbar
          a.nav-btn(href='/profile') Profile
          a.nav-btn(href='/chat') Back to Chat
          a.nav-btn(href='/logout') Logout

      main.main-content
        .layout
          aside.sidebar
            h3 Sidebar
            .friends-list
              h4 Friends List
              ul
                li Friend 1
                li Friend 2
                li Friend 3
                li Friend 4
              button.btn-secondary.add-friend Add Friend

          .chat-area
            .chat-header
              p#num-users Users Online: 0
            .chat-box-container
              ul#messages
                // Messages will be inserted here dynamically
              form(action='').message-form
                input#m(type='text', autocomplete='off', placeholder='Type your message...', required)
                button.btn-primary Send
            
          .activity-panel
            h3 Announcements
            ul
              li Welcome to Fucci Katze Chat!
              li Don’t forget to check out your profile.

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')
    script(async, defer, src='/public/client.js')
