html
  head
    title Fucci Katze - Profile
    meta(name='description', content='User Profile')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/css/profile.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css', integrity='sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMRLpXX3r70dddpMfFj5RUx5jnj1W6+o9KG9Fzo', crossorigin='anonymous')
  body
    .profile-page
      // Header Section
      header.header
        .header-content
          h1.logo Fucci Katze
          nav.navbar
            a.nav-link(href='/profile') Profile
            a.nav-link(href='/chat') General Chat
            a.nav-link.logout-btn(href='/logout')
              i.fas.fa-sign-out-alt
              | Logout

      // Main Content
      .main-content
        // Profile Section
        .profile-section
          .profile-card
            img.profile-img(src='/public/images/default-profile.png', alt='Profile Picture')
            .profile-info
              h2#welcome Welcome, #{username}!
              p.email
                i.fas.fa-envelope
                | #{email}
            a.edit-profile-btn(href='/edit-profile')
              i.fas.fa-edit
              | Edit Profile

          //Fact Box Section
          .div.fact-box
            h3.section-title Random Quote
            .fact-content
              p#quote "Loading quote..."
              p#author ""
            div#spinner
            button#refresh-btn Refresh 
        // Chat Options Section
        .chat-section
          h3.section-title Chat Options
          .chat-buttons
            a.chat-btn(href='/chat')
              i.fas.fa-comments
              | Go to General Chat
            //- form.private-room-form(action='/private', method='POST')
            //-   input#room-id(type='text', name='roomId', placeholder='Enter Private Room ID')
            //-   button.private-btn(type='submit')
            //-     i.fas.fa-door-closed
            //-     | Join Private Chat

     
    // Scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
    script(async, defer, src='/profile.js?v=' + Date.now())
    script(async, defer, src='/private.js')